@font-face{
  font-family:GilroyBold;
  src:url(../fonts/gilroy/Gilroy-Bold.ttf); }

@font-face{
  font-family:GilroyMedium;
  src:url(../fonts/gilroy/Gilroy-Medium.ttf); }

*{
  -webkit-box-sizing:border-box;
  list-style:none;
  margin:0;
  padding:0;
  box-sizing:border-box;
  text-decoration:none;
  outline:none;
  font-size:18px;
  font-style:normal;
  font-family:GilroyMedium; }

body{
  background:#fff; }

main{
  padding-top:100px; }

section{
  max-width:100vw;
  padding:100px 20px; }

.container{
  max-width:1200px;
  margin:0 auto; }

.Title{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  min-height:50px;
  width:100%;
  -ms-flex-line-pack:center;
      align-content:center;
  font-size:34px; }

.Text,.Title{
  text-align:center;
  padding-bottom:20px; }

.Text{
  font-family:GilroyMedium;
  font-size:18px; }

header{
  height:90px;
  width:100vw;
  border-bottom:2px solid #828282;
  position:fixed;
  z-index:500;
  background:#fff; }
  header ul{
    margin:auto;
    max-width:1200px;
    padding:0 20px;
    height:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center; }
    header ul li{
      cursor:pointer;
      list-style-type:none;
      color:#828282; }
    header ul .active,header ul li:hover{
      color:#000; }
    header ul a{
      width:100%;
      height:100%;
      font-size:inherit;
      color:inherit;
      text-decoration:none; }

footer{
  padding-bottom:20px;
  text-align:center; }

.Home{
  padding:0 20px; }
  .Home .HomeTop{
    width:100%;
    padding:50px 0;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center; }
    .Home .HomeTop .HomeName{
      display:block;
      width:20%;
      font-size:48px; }
    .Home .HomeTop .HomeBio{
      text-align:center;
      display:block;
      width:58%;
      font-family:GilroyMedium;
      padding:0 5%; }
    .Home .HomeTop .HomeLang{
      width:20%;
      font-size:16px; }
      .Home .HomeTop .HomeLang p{
        display:block;
        -webkit-transform:rotate(-90deg);
            -ms-transform:rotate(-90deg);
                transform:rotate(-90deg);
        float:right; }
  .Home .HomeBottom{
    display:block;
    width:100%;
    height:600px;
    overflow:hidden; }
    .Home .HomeBottom img{
      width:100%;
      max-height:100%;
      -o-object-fit:cover;
         object-fit:cover;
      -o-object-position:0 25%;
         object-position:0 25%; }

.About{
  width:100%;
  background:#f6f6f6; }
  .About .WrapAbout{
    width:60%;
    margin:0 auto; }

.Skills .WrapSkills{
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between; }
  .Skills .WrapSkills,.Skills .WrapSkills .SkillBox{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex; }
  .Skills .WrapSkills .SkillBox{
    cursor:pointer;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    text-align:center;
    width:100px;
    padding-bottom:20px; }
    .Skills .WrapSkills .SkillBox img{
      -webkit-transition-duration:1s;
           -o-transition-duration:1s;
              transition-duration:1s;
      width:90px;
      height:90px;
      margin-bottom:10px; }
    .Skills .WrapSkills .SkillBox span{
      display:block;
      text-align:center;
      font-size:14px;
      color:#828282; }
    .Skills .WrapSkills .SkillBox:hover img{
      -webkit-transform:scale(1.1);
          -ms-transform:scale(1.1);
              transform:scale(1.1); }
    .Skills .WrapSkills .SkillBox:hover span{
      color:#000; }

.Portfolio{
  background:#f6f6f6; }
  .Portfolio .WrapPortfolio{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    -webkit-box-pack:start;
        -ms-flex-pack:start;
            justify-content:flex-start;
    width:100%; }
    .Portfolio .WrapPortfolio .wrapper{
      -webkit-transition-duration:1s;
           -o-transition-duration:1s;
              transition-duration:1s;
      margin:10px;
      width:calc(33% - 20px);
      height:360px; }
      .Portfolio .WrapPortfolio .wrapper:hover{
        -webkit-box-shadow:0 5px 5px 0 rgba(0, 0, 0, .25);
                box-shadow:0 5px 5px 0 rgba(0, 0, 0, .25); }
        .Portfolio .WrapPortfolio .wrapper:hover .BottomTitle{
          color:#000 !important; }
        .Portfolio .WrapPortfolio .wrapper:hover .TopPortfolio{
          height:40px !important; }
      .Portfolio .WrapPortfolio .wrapper .wrapperLink{
        position:relative;
        text-decoration:none;
        width:100%;
        height:100%;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
        -webkit-box-pack:justify;
            -ms-flex-pack:justify;
                justify-content:space-between; }
        .Portfolio .WrapPortfolio .wrapper .wrapperLink .wrapTop{
          position:relative;
          width:100%;
          height:calc(100% - 40px); }
          .Portfolio .WrapPortfolio .wrapper .wrapperLink .wrapTop img{
            position:absolute;
            width:100%;
            height:100%;
            -o-object-fit:cover;
               object-fit:cover;
            -o-object-position:50% 0;
               object-position:50% 0; }
        .Portfolio .WrapPortfolio .wrapper .wrapperLink .TopPortfolio{
          position:relative;
          -webkit-transition-duration:1s;
               -o-transition-duration:1s;
                  transition-duration:1s;
          z-index:2;
          width:100%;
          height:0;
          display:-webkit-box;
          display:-ms-flexbox;
          display:flex;
          -webkit-box-pack:end;
              -ms-flex-pack:end;
                  justify-content:flex-end; }
          .Portfolio .WrapPortfolio .wrapper .wrapperLink .TopPortfolio .bookmark{
            position:relative;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            width:30px;
            height:100%;
            background:#fff;
            margin-right:10px;
            -webkit-box-align:center;
                -ms-flex-align:center;
                    align-items:center;
            -webkit-box-pack:center;
                -ms-flex-pack:center;
                    justify-content:center;
            border-bottom-left-radius:40%;
            border-bottom-right-radius:40%; }
            .Portfolio .WrapPortfolio .wrapper .wrapperLink .TopPortfolio .bookmark img{
              height:80%;
              max-width:80%;
              -o-object-fit:contain;
                 object-fit:contain;
              max-height:80%;
              max-height:auto;
              width:auto; }
        .Portfolio .WrapPortfolio .wrapper .wrapperLink .BottomPortfolio{
          overflow:hidden;
          font-family:GilroyMedium;
          color:#828282;
          padding:20px;
          width:100%;
          min-height:40px;
          z-index:333; }
          .Portfolio .WrapPortfolio .wrapper .wrapperLink .BottomPortfolio .bottomTitle{
            -webkit-transition-duration:2s;
                 -o-transition-duration:2s;
                    transition-duration:2s;
            font-family:GilroyMedium;
            color:#828282; }
            .Portfolio .WrapPortfolio .wrapper .wrapperLink .BottomPortfolio .bottomTitle i{
              font-family:GilroyMedium;
              color:inherit;
              font-style:inherit;
              font-weight:lighter;
              font-size:smaller; }
          .Portfolio .WrapPortfolio .wrapper .wrapperLink .BottomPortfolio .BottomText{
            color:#828282;
            font-family:GilroyMedium;
            font-size:small; }

.Contacts .container{
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column; }

.Contacts .container,.Contacts .SendMail{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center; }

.Contacts .SendMail{
  -webkit-transition-duration:1s;
       -o-transition-duration:1s;
          transition-duration:1s;
  cursor:pointer;
  width:180px;
  height:40px;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  border-radius:20px;
  background:#000;
  color:#fff;
  border:none;
  text-decoration:none;
  margin-bottom:30px; }
  .Contacts .SendMail span{
    color:inherit; }
  .Contacts .SendMail:hover{
    -webkit-box-shadow:0 5px 5px 0 rgba(0, 0, 0, .5);
            box-shadow:0 5px 5px 0 rgba(0, 0, 0, .5); }

.Contacts .WrapLink{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  width:100%;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center; }
  .Contacts .WrapLink a{
    width:40px;
    height:40px;
    margin:0 20px;
    text-decoration:none;
    display:block;
    cursor:pointer; }
  .Contacts .WrapLink img{
    -webkit-transition-duration:1s;
         -o-transition-duration:1s;
            transition-duration:1s;
    width:100%;
    height:100%; }
    .Contacts .WrapLink img:hover{
      -webkit-transform:scale(1.3);
          -ms-transform:scale(1.3);
              transform:scale(1.3); }
@media only screen and (max-width:992px){
  section{
    padding:50px 20px; }
  .Home .HomeTop{
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between; }
    .Home .HomeTop .HomeBio{
      text-align:right;
      padding:0; }
    .Home .HomeTop .HomeLang{
      display:none; }
  .Skills .WrapSkills{
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center; }
  .Portfolio .WrapPortfolio .wrapper{
    width:calc(50% - 20px) !important;
    height:340px; }
    .Portfolio .WrapPortfolio .wrapper .wrapperLink .TopPortfolio{
      height:20px; }
      .Portfolio .WrapPortfolio .wrapper .wrapperLink .BottomPortfolio,.Portfolio .WrapPortfolio .wrapper .wrapperLink .BottomPortfolio .BottomText{
        color:#000; } }
@media only screen and (max-width:768px){
  header{
    height:60px; }
  main{
    padding-top:60px; }
  .Home .HomeBottom{
    height:350px; }
    .Home .HomeBottom img{
      -o-object-position:unset;
         object-position:unset; }
  .wrapBurger{
    z-index:999;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    top:20px;
    right:20px;
    width:40px;
    height:20px;
    cursor:pointer; }
    .wrapBurger .bugerA{
      position:relative;
      display:block;
      width:100%;
      height:5px;
      background:#000; }
      .wrapBurger .bugerA:after,.wrapBurger .bugerA:before{
        content:"";
        position:absolute;
        display:block;
        width:100%;
        height:5px;
        background:#000; }
      .wrapBurger .bugerA:after{
        top:-10px; }
      .wrapBurger .bugerA:before{
        top:10px; }
    .wrapBurger .bugerD{
      position:relative;
      display:block;
      width:100%;
      height:5px;
      background:none; }
      .wrapBurger .bugerD:after,.wrapBurger .bugerD:before{
        -webkit-transition-duration:1s;
             -o-transition-duration:1s;
                transition-duration:1s;
        content:"";
        position:absolute;
        display:block;
        width:100%;
        height:5px;
        background:#000; }
      .wrapBurger .bugerD:after{
        -webkit-transform:rotate(45deg);
            -ms-transform:rotate(45deg);
                transform:rotate(45deg); }
      .wrapBurger .bugerD:before{
        -webkit-transform:rotate(-45deg);
            -ms-transform:rotate(-45deg);
                transform:rotate(-45deg); }
  .wrapBurgerA{
    position:absolute; }
  .wrapBurgerF{
    position:fixed; }
  .Portfolio .WrapPortfolio .wrapper{
    width:100%;
    height:340px; }
  .Portfolio .WrapPortfolio .wrapperLink .BottomPortfolio{
    padding-left:0; }
  .About .WrapAbout{
    width:100%; } }


/*# sourceMappingURL=style.bundle.b47a7473a29710d5611d.css.map*/