//html
//  scroll-behavior: smoth
//element.scrollIntoView({ behavior: 'smooth' })

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-size: 18px;
    font-style: normal;
    font-family: $default-font;
}

body{
  background: $bg;
}

main{
  padding-top: 100px;
}
section{
  max-width: 100vw;
  padding: 100px 20px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.Title{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  width: 100%;
  align-content: center;
  text-align: center;
  padding-bottom: 20px;
  font-size: 34px;
}

.Text{
  font-family: $text-font;
  font-size: 18px;
  text-align: center;
  padding-bottom: 20px;
}
