@font-face {
    font-family: "GilroyBold"; /* Имя шрифта */
    src: url(../fonts/gilroy/Gilroy-Bold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "GilroyMedium"; /* Имя шрифта */
    src: url(../fonts/gilroy/Gilroy-Medium.ttf); /* Путь к файлу со шрифтом */
}

// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Staatliches', cursive;