/*==========  Desktop First  ==========*/
/*

@media only screen and (max-width : 1500px) 
@media only screen and (max-width : 1200px)
@media only screen and (max-width : 992px)
@media only screen and (max-width : 768px) 
@media only screen and (max-width : 550px)

*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1500px) {
 
}

@media only screen and (max-width : 1200px){

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1100px) {

}
@media only screen and (max-width : 992px) {
    section{
        padding: 50px 20px;
    }
    .Home{
        .HomeTop{
            justify-content: space-between;
            .HomeBio{
                text-align: right;
                padding: 0px;
            }
            .HomeLang{
                display: none;
            }
        }
    }
    .Skills{
        .WrapSkills{
            justify-content: center;
        }
    }
    .Portfolio .WrapPortfolio .wrapper{
        width: calc( 50% - 20px ) !important;
        height: 340px;
        .wrapperLink{
            .TopPortfolio{
                height: 20px;
            }
            .BottomPortfolio{
                color: $black;
                .BottomText{
                    color: $black;
                }
            }
        }
    }
    
}
/* Medium Devices */
@media only screen and (max-width : 768px) {
    header{
        height: 60px
    }
    main{
        padding-top: 60px;
    }
    .Home{
        .HomeBottom{
            height: 350px;
            img{
              object-position: unset
            }
        }
    }
    .wrapBurger{
        z-index: 999;
        display: flex;
        justify-content: center;
        flex-direction: column;
        top: 20px;
        right: 20px;
        width: $burWidth;
        height: $burHeight;
        cursor: pointer;
        .bugerA{
            position: relative;
            display: block;
            width: 100%;
            height: $burgerLine;
            background: $black;
            &::after,
            &::before{
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: $burgerLine;
                background: $black;
            }
            &::after{
                top: -10px;
            }
            &::before{
                top: 10px;
            }
        }
        .bugerD{
            position: relative;
            display: block;
            width: 100%;
            height: $burgerLine;
            background: none;
            &::after,
            &::before{
                transition-duration: 1s;
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: $burgerLine;
                background: $black;
            }
            &::after{
                transform: rotate(45deg);
            }
            &::before{
                transform: rotate(-45deg);
            }
        }

    }
    .wrapBurgerA{
        position: absolute;
    }
    .wrapBurgerF{
        position: fixed;
    }
    .Portfolio{
        .WrapPortfolio{
            .wrapper{
                width: 100%;
                height: 340px;
            }
            .wrapperLink{
                .BottomPortfolio{
                    padding-left: 0px;
                }
            }
        }
    }
    .About{
        .WrapAbout{
            width: 100%;
        }
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 400px) {

}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    
}

//Style for IE11
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  
}