//Transition
$transition: all .5s linear 0s;

//---Shadows

//---Borders

//----colors
$bg: #fff;
$black: #000;
$gray: #828282;
$bgGray: #F6F6F6;

$burWidth: 40px;
$burHeight: 20px;
$burgerLine: 5px;

//---Vars
$default-font: 'GilroyMedium';
$text-font: 'GilroyMedium';
